slurm_out/
.ipynb_checkpoints
llama-2-7b-guanaco-qlora
data/
results/
outputs/
llama-2-7b-deeptriage/
venv/
.env
env/
.idea/
logs/
wandb/
test_trainer/
nohup.out
**.pt
__pycache__/
datasets/
*.out
topic_model_gc/config.json
topic_model_gc/topic_embeddings.safetensors
topic_model_gc/topics.json
