fastapi==0.111.0
loguru==0.5.3
numpy==1.26.4
pandas==2.2.2
pydantic==2.7.2
python-dotenv==1.0.1
Requests==2.32.2
scikit_learn==1.5.0
sentence_transformers==3.0.0
torch==2.3.0
tqdm==4.65.0
transformers==4.41.1
wandb==0.17.0
